{% extends 'layout/basic.html' %}

{% block title %}О сайте{% endblock %}

{% block content %}
<h2>Добро пожаловать на Avitopress - вашу доску лучших и популярных объявлений!</h2>


<p>Здесь вы найдете все, что нужно для успешной покупки, продажи или аренды различных товаров и услуг. Avitopress - это место, где каждое объявление тщательно отобрано и представлено с огромным вниманием к деталям.
Что делает Avitopress особенным?</p>
<p> Популярные и лучшие объявления: Мы отбираем только самые привлекательные и высококачественные объявления, чтобы вы могли найти именно то, что ищете. Наша команда профессиональных копирайтеров и редакторов
     тщательно изучает каждое объявление, чтобы убедиться в его 
     качестве и соответствии вашим потребностям.</p>

<p>Мы придаем большое значение безопасности нашей платформы. 
    Все объявления проходят модерацию и проверку, чтобы минимизировать 
    риски мошенничества и обеспечить вашу безопасность при совершении сделок. Кроме того, у нас есть система отзывов и рейтингов,
     чтобы вы могли оценить надежность продавца или арендодателя.</p.>
{% endblock %}