{% extends "layout/basic.html" %}

{% load thumbnail %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
<h2>Последние 10 объявлений</h2>

<div class="container-fluid mb-2">
    {% if bbs %}
    <ul class="list-unstyled">
        {% for bb in bbs %}
        <li class="media my-5 p-3 border">

            <a href="{% url 'main:detail' bb.rubric.slug bb.slug %}">
            {% if bb.image %}
            <img class="mr-3" src="{{ bb.image|thumbnail_url:'default'}}">
            {% else %}
            <img class="mr-3" src="{% static 'main/empty.jpg' %}">
            {% endif %}
            </a>
            <div class="media-body">
                <h3><a href="{% url 'main:detail' bb.rubric.slug bb.slug %}">{{ bb.title }}</a></h3>
                <div>{{ bb.content|truncatewords:40|safe }}</div>
                {%if bb.price %}
                <p class="text-right font-weight-bold"> {{ bb.price }} руб. </p>
        
                {% endif %}
                <a href="{% url 'main:detail' bb.rubric.slug bb.slug %}"> Читать далее </a>
                <p class="text-right font-italic">{{ bb.created_at }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>


    {% endif %}

{% endblock %}
